.main {
  background-image: url("../img/wrapper-img-bg.jpg");
  @include bg-img;
  padding: rem(50) rem(40);
}

.sorrow {
  display: none;
}

.busy__orange {
  font-family: $affect;
  text-transform: uppercase;
  color: $orange;
  margin-bottom: rem(37);
  text-align: left;
  font-weight: 700;
}

.text {
  &--white {
    margin-bottom: rem(37);
    &:last-child {
      margin-bottom: 0;
    }
  }
}
@media (min-width: 768px) {
  .busy {
    display: flex;
    flex-direction: row-reverse;
  }
  .main {
    position: relative;
    top: rem(32);
    flex-basis: 55%;
    border-radius: 0 .625rem .625rem 0;

  }
  .sorrow {
    flex-basis: 54%;
    margin-left: rem(-40);
    background-image: url('../img/Шар-5копія-2.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: block;
    border-radius: rem(10) 0 0 rem(10);

  }
}
@media(min-width: 1200px) {
  .busy {

    &__orange {
      font-size: rem(24);
    }
  }
  .main {
    padding: rem(130) rem(32) rem(100) rem(100);
  }
}

//flex-basis: 50%;
// position: relative;
// top: 16px

.text {

  &--white {
    font-size: 0.9rem;
    //padding: rem(140) 0 rem(100);
  }
}
