.slick {
  -webkit-box-shadow: 0 1.125rem 1.225rem 0.25rem rgba(0,0,0,.21);
  -moz-box-shadow: 0 1.125rem 1.225rem 0.25rem rgba(0,0,0,.21);
  box-shadow: 0 1.125rem 1.225rem 0.25rem rgba(0,0,0,.21);
  margin: rem(24) auto rem(30);
}
.slick-container {
  position: relative;
  margin: auto;
  width: 90%;
  max-width: rem(975);
}
.comments {
  margin: auto;
  padding: 0 0 rem(45) 0;

  &__box {
    padding: rem(25) rem(20);

  }

  &__title {
    text-align: center;
  }

  &__text {
    margin: rem(25) auto;
  }

  &__btn {
    -webkit-box-shadow: 0 1.125rem 1.225rem 0.25rem rgba(0,0,0,.21);
    -moz-box-shadow: 0 1.125rem 1.225rem 0.25rem rgba(0,0,0,.21);
    box-shadow: 0 1.125rem 1.225rem 0.25rem rgba(0,0,0,.21);
    width: 85%;
    font-size: rem(15);

    &:hover {
      color: $orange;
      outline: none;
    }
  }

  .prev, .next {
    position: absolute;
  }

  .prev {
    left: 0;
    top: 50%;
    transform: translate(-50%, -50%);
  }

  .next {
    right: 0;
    top: 50%;
    transform: translate(50%, -50%);
  }

  &__btn-direction {
    outline: none;
    //display: none;
    margin: 0 auto;
    width: rem(50);
    height: rem(50);
    font-family: $affect;
    font-size: rem(20);
    font-weight: 700;
    text-transform: uppercase;
    text-align: center;
    color: $white;
    background-image: linear-gradient(to top, #ff4c01, #e77921);
    border: rem(1) solid transparent;
    border-radius: 50%;
    -webkit-box-shadow: 0 1.125rem 1.225rem 0.25rem rgba(0,0,0,.21);
    -moz-box-shadow: 0 1.125rem 1.225rem 0.25rem rgba(0,0,0,.21);
    box-shadow: 0 1.125rem 1.225rem 0.25rem rgba(0,0,0,.21);
  }
}

.client {
  display: flex;
  //align-items: center;
  justify-content: space-between;

  &__sub-title {
    font-size: rem(15);
  }

  &__img {
    border-radius: 50%;
    width: 80%;
    -webkit-box-shadow: 0 1.125rem 1.225rem 0.25rem rgba(0,0,0,.21);
    -moz-box-shadow: 0 1.125rem 1.225rem 0.25rem rgba(0,0,0,.21);
    box-shadow: 0 1.125rem 1.225rem 0.25rem rgba(0,0,0,.21);
  }

  &__info {
    align-self: center;
    //flex-basis: 80%;
  }

  &__sub-name {
    font-size: rem(12);
  }

  &__span {
    display: block;
    text-transform: capitalize;
  }
}

@media (min-width: 480px) {
  .client {
    &__sub-name {
      font-size: rem(14);
    }
  }
}

@media (min-width: 768px) {
  .comments {
    padding: 0 0 rem(90);
    &__btn {
      width: 45%;
      max-width: rem(354);
    }

    &__box {
      padding: rem(46) rem(120) rem(33) rem(110);
      margin: rem(24) auto rem(57);
    }
  }

  .client {
    width: 80%;
    margin: auto;

    &__sub-title {
      font-size: rem(16);
    }
  }
}

@media (min-width: 1200px) {

  .client {
    //width: 61%;
    max-width: rem(513);
  }

  .client__sub-title {
    font-size: rem(24);
  }
}
