.comments {
  margin: auto;

  &__box {
    padding: rem(25) rem(20);
    margin: rem(24) auto rem(57);
    -webkit-box-shadow: 0 1.125rem 1.225rem 0.25rem rgba(0,0,0,.21);
    -moz-box-shadow: 0 1.125rem 1.225rem 0.25rem rgba(0,0,0,.21);
    box-shadow: 0 1.125rem 1.225rem 0.25rem rgba(0,0,0,.21);
  }

  &__title {
    text-align: center;
  }

  &__text {
    margin: rem(25) auto;
  }

  &__btn {
    -webkit-box-shadow: 0 1.125rem 1.225rem 0.25rem rgba(0,0,0,.21);
    -moz-box-shadow: 0 1.125rem 1.225rem 0.25rem rgba(0,0,0,.21);
    box-shadow: 0 1.125rem 1.225rem 0.25rem rgba(0,0,0,.21);
    width: 74%;

    &:hover {
      color: $orange;
      outline: none;
    }
  }

  &__btn-direction {
    outline: none;
    display: block;
    margin: 0 auto;
    padding: rem(16) rem(29.696);
    font-family: $affect;
    font-size: rem(49);
    font-weight: 700;
    text-transform: uppercase;
    text-align: center;
    color: $white;
    background-image: linear-gradient(to top, #ff4c01, #e77921);
    border: rem(1) solid transparent;
    border-radius: 50%;
    -webkit-box-shadow: 0 1.125rem 1.225rem 0.25rem rgba(0,0,0,.21);
    -moz-box-shadow: 0 1.125rem 1.225rem 0.25rem rgba(0,0,0,.21);
    box-shadow: 0 1.125rem 1.225rem 0.25rem rgba(0,0,0,.21);
  }
}

.client {
  display: flex;
  align-items: center;
  justify-content: space-between;

  &__img {
    border-radius: 50%;
    width: 80%;
    -webkit-box-shadow: 0 1.125rem 1.225rem 0.25rem rgba(0,0,0,.21);
    -moz-box-shadow: 0 1.125rem 1.225rem 0.25rem rgba(0,0,0,.21);
    box-shadow: 0 1.125rem 1.225rem 0.25rem rgba(0,0,0,.21);
  }

  &__info {
    align-self: center;
    flex-basis: 80%;
  }

  &__sub-name {
    font-size: rem(12);
  }

  &__span {
    display: block;
    text-transform: capitalize;
  }
}

@media (min-width: 480px) {
  .client {
    &__sub-name {
      font-size: rem(14);
    }
  }
}

@media (min-width: 768px) {
  .comments {

    &__btn {
      width: 100%;
    }

    &__box {
      padding: rem(46) rem(120) rem(33) rem(110);
      margin: rem(24) auto rem(57);
    }
  }

  .client {
    width: 49%;
    margin: auto;

    &__sub-title {
      font-size: rem(16);
    }
  }
}
