@font-face {
  font-family: "Affect";
  src: url("../fonts/Affect/Affect Bold.otf") format("otf");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: "Proxima Nova";
  src: url("../fonts/Proxima Nova/Proxima Nova Regular.otf") format("otf");
  font-weight: 400;
  font-style: normal;
}

