@font-face {
  font-family: "Affect";
  src: url("../fonts/Affect/Affect Bold.otf") format("opentype");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: "Proxima Nova Thin";
  src: url("../fonts/Proxima Nova/Proxima Nova Thin.otf") format("opentype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Proxima Nova Regular";
  src: url("../fonts/Proxima Nova/Proxima Nova Regular.otf") format("opentype");
  font-weight: 400;
  font-style: normal;
}

