.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 26; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0, 0, 0); /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
  //padding: rem(155) 0 0;
  transition: 0.5s;
  //opacity: 0;

}

.form {
  display: block;
  text-align: center;
  max-width: rem(360);
  min-width: rem(280);
  padding: rem(35) 0;
  margin: 0 auto;
  background-color: $white;
  //border-style: solid black 1px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  &__headline {
    padding-top: rem(36);
    margin-bottom: rem(22);
  }
  &__title {
    margin-bottom: rem(30);
    font-size: rem(30);
  }

  &__text {
    width: prc(250, 360);
    display: block;
    margin: 0 auto rem(24);

    &--bold {
      font-weight: 700;
    }
  }

  input[type=text] {
    width: prc(320, 360);
    padding: rem(16);
    text-align: center;
    border: 2px solid #ccc;
    -webkit-border-radius: 5px;
    border-radius: rem(40);
    margin-bottom: rem(10);
    font-size: rem(18);
    color: black;
    text-transform: capitalize;
    outline: none

  }
  input[type=email] {
    width: 90%;
    padding: rem(16);
    text-align: center;
    border: 2px solid #ccc;
    -webkit-border-radius: 5px;
    border-radius: rem(40);
    margin-bottom: rem(20);
    font-size: rem(18);
    text-transform: capitalize;
    outline: none;

  }
  ::placeholder {
    color: black;

  }

  input[type=submit] {
    width: 90%;
    outline: none
  }
  input[type=submit]:hover {
    color: $orange;
  }
}

.close {
  display: block;
  width: rem(30);
  height: rem(30);
  background-color: $white;
  position: absolute;
  border-radius: 50%;
  box-shadow: 0px 15px 15px 0px rgba(0, 0, 0, 0.15);
  text-align: center;
  line-height: rem(30);
  color: #dadada;
  top: rem(-15);
  right: rem(-15);
}

