
.format {
  background-image: linear-gradient(rgba(0, 0, 0, .7), rgba(0, 0, 0, .7)), url(../img/DSC_8224.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  border-radius: rem(10);
  padding: rem(45) rem(16);
  position: relative;

  & > .title--white {
    color: $white;
    text-align: center;
  }

  &__body {
    margin-top: rem(30);
  }

  &__list {
    //padding-left: rem(10);
  }

  &__item {
    margin-bottom: rem(30);

    &:last-child {
      margin-bottom: 0;
    }

    & > .sub-title--size {
      color: $white;
      font-size: rem(16);
      margin-bottom: rem(20);
    }

    & > .text {
      color: $white;
      padding-left: rem(10);
      font-family: $proximaThin;
      letter-spacing: 0.5px;

      & > .orange {
        font-weight: 700;
        font-size: rem(24);
        font-family: $affect;
      }
    }
  }

  &__box {
    & > .text {
      color: $white;
      padding-left: rem(10);
      font-family: $proximaThin;
      letter-spacing: 0.5px;
    }

    & > .btn {
      font-size: rem(15);
      margin-top: rem(20);
      padding: rem(15) rem(35);
      background-image: linear-gradient(to top, transparent, transparent);
      border: rem(1) solid $orange;
      font-family: $proximaThin;
      text-transform: lowercase;
      &:hover {
        background-image: linear-gradient(to top, #ff4c01, #e77921);
      }
    }

  }

  &__pay {
    margin: rem(25) auto 0;
    background-color: $white;
    border-radius: rem(10);
    padding: rem(25) rem(5) rem(15);
    text-align: center;

    & > .sub-title {
      margin-bottom: rem(25);
      font-size: rem(16);
    }

    & > .btn {
      font-size: rem(11);
      margin-top: rem(17.5);

      &:hover {
        color: $orange;
        outline: none;
      }
    }
  }

  &__price {
    display: block;
    margin: auto;
    font-family: $affect;
    font-size: rem(30);
    font-weight: 700;
    color: $orange;

    &--old {
      position: relative;
      color: #c5c5c5;

      &::before {
        content: "";
        display: block;
        position: absolute;
        background-color: $orange;
        width: rem(136);
        height: rem(2);
        top: 50%;
        right: 50%;
        transform: translate(50%, 50%) rotate(15deg);
      }
    }
  }
}

.orange--center {
  display: block;
  text-align: center;
}

@media(-webkit-min-device-pixel-ratio: 2), (-o-min-device-pixel-ratio: 2/1), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .wrapper-img {
    background-image: url(../img/DSC_8224@2x.jpg);
  }
}

@media (min-width: 768px) {
  .orange--center {
    display: inline;
    text-align: left;
  }

  .format {
    padding: rem(50) 0;
    &__body {
      display: flex;
      justify-content: space-around;
      align-items: center;
    }

    &__info {
      flex-basis: 50%;
    }

    &__list {
      padding-left: 0;
    }

    &__pay {
      margin: 0;
      flex-basis: 40%;
    }

    &__box {
      display: flex;
      justify-content: space-between;
      align-items: center;

      & > .text {
        flex-basis: 75%;
      }

      & > .btn {
        margin: 0;
      }
    }
  }
}

@media (min-width: 1200px) {
  .format {

    &__info {
      flex-basis: prc(435, 1140);
    }

    &__item {
      & > .text {
        padding-left: rem(28);
      }
    }

    &__pay {
      flex-basis: prc(410, 1140);
      padding: rem(50) rem(20) rem(30);

      & > .sub-title {
        margin-bottom: rem(50);
      }

      & > .btn {
        margin-top: rem(35);
      }
    }

    &__box {
      justify-content: space-between;

      & > .text {
        color: $white;
        padding-left: rem(28);
        flex-basis: 67%;
      }

      & > .btn {
        padding: rem(15) rem(30);
        font-size: rem(18);
      }
    }
  }
  .format__item>.sub-title--size {
    font-size: rem(30);
  }
  .format__pay>.sub-title {
    font-size: rem(24);
  }

  .format__price {
    font-size: rem(48);
  }
  .format__pay>.btn {
    font-size: rem(18);
    padding-left: rem(30);
    padding-right: rem(30);
  }
}
