.wrapper--header {
  min-height: 100vh;
  background-color: #383835;
  background-image: url("../img/canoe.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-blend-mode: overlay;
}

.header {
  min-height: 100vh;
  padding: 0 0 rem(16) 0;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  &__application {
    display: inline-block;
    margin: 0 auto;
    padding: rem(10) rem(14);
    font-family: $affect;
    font-size: rem(12);
    font-weight: 700;
    text-transform: uppercase;
    text-align: center;
    color: $white;
    border: rem(2) solid $orange;
    border-radius: rem(40);
    background: transparent;
  }
  &__top-right {
    text-align: center;
  }
  &__top {
    transition: 0.5s;
    align-items: center;
  }
  &__location {
    font-size: rem(10);
    color: $white;
    text-align: center;
    margin: 0 0 rem(20);
  }
  &__title {
    color: $white;
    font-size: rem(17);
    text-align: center;
    margin: 0 0 rem(20);
  }
  &__sub-title {
    color: $white;
    font-size: rem(10);
    text-align: center;
    line-height: rem(15);
  }
  &__date {
    margin: 0 auto rem(20);
    text-align: center;
    display: flex;
    width: rem(150);
  }
  &--btn {
    font-size: rem(10);
    padding: rem(10) rem(12);
    width: 50%;
  }
}

.nav {
  display: none;
}

.menu {
  &__link {
    font-family: $affect;
    font-size: rem(18);
    text-transform: uppercase;
    text-align: center;
    color: $white;
  }
}

.phone {
  font-size: rem(16);
  font-family: 'Myriad pro', sans-serif;
  margin: rem(10) 0 rem(10);
  font-weight: 700;
}

.location {
  fill: $orange;
  width: rem(17);
  height: rem(11.5);
}

.calendar {
  display: block;
  width: rem(35);
  height: rem(45);
}

.date {
  font-size: rem(16);
  color: $white;
  font-family: $affect;
  font-weight: 700;
  text-align: center;
  width: rem(100);
  margin: 0 auto;
  line-height: rem(21);
}

.sticky {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  margin: 0 auto;
  z-index: 5;
  background-color: rgba(0,0,0,0.8);
  padding: rem(16);
  transition: .5s;
}
.sticky + .header__middle {
  padding: rem(300) 0 0;
}

@media (min-width: 768px) {

  .menu {
    display: flex;
    justify-content: space-between;
    &__item {
      flex-basis: 29%;
    }
    &__link {
      font-size: rem(11);
    }
  }
  .phone {
    font-size: rem(12);
    margin: 0;
    flex-basis: 24%;
    line-height: rem(22);
  }
  .nav {
    display: block;
    flex-basis: 45%;
  }
  .header {
    &__top {
      display: flex;
      justify-content: space-between;
    }
    &__top-right {
      display: flex;
      justify-content: space-between;
      flex-basis: 65%;
      align-items: center;
    }
    &__application {
      font-size: rem(10);
      padding: rem(6) rem(10);
      flex-basis: 27%;
      margin: 0;
    }
    &--btn {
      font-size: rem(14);
      padding: rem(12) rem(16);
      width: 55%;
      margin: 0;
    }
    &__sub-title {
      width: prc(550, 768);
      font-size: rem(12);
      margin: 0 auto;
      line-height: rem(16);

    }
    &__title {
      font-size: rem(30);
      margin: 0 0 rem(60);
    }
    &__location {
      font-size: rem(16);
      margin: 0 0 rem(32);
    }
    &__bottom {
      display: flex;
      margin: 0 auto;
      justify-content: center;
    }
    &__date {
      margin: 0;
    }
  }
  .location {
    fill: $orange;
    width: rem(17);
    height: rem(16);
  }
}

@media (min-width: 1200px) {
  .header {
    &__application {
      padding: rem(16) rem(22);
      font-size: rem(18);
      border: rem(3) solid $orange;
      flex-basis: 30%;
    }
    &__top-right {
      flex-basis: 72%;
    }

    &__location {
      font-size: rem(30);
      margin: 0 0 rem(68);

    }
    &__title {
      margin: 0 0 rem(65);
      font-size: rem(58);

    }
    &__sub-title {
      font-size: rem(24);
      width: prc(1100, 1200);
      line-height: rem(30);

    }
    &__date {
      width: rem(300);
    }

    &--btn {
      font-size: rem(20);
    }
  }
  .menu {
    &__link {
      font-size: rem(18);
    }
  }
  .nav {
    flex-basis: 46%;
  }
  .phone {
    font-size: rem(18);
  }

  .location {
    width: rem(23);
    height: rem(33);
  }
  .calendar {
    width: rem(65);
    height: rem(75);
  }
  .date {
    font-size: rem(30);
    width: rem(200);
    margin: 0;
    line-height: rem(32);
  }
}

@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .wrapper--header {
    padding: rem(10) 0 0;
    background-color: #383835;
    background-image: url("../img/canoe@2x.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-blend-mode: overlay;
  }
}
