.in-end {
  text-align: center;
  margin-bottom: rem(50);
  padding: rem(45) 0 0;

  // первый контейнер в котоом картинка+ тайтл+сабтекст+задний фон
  &__article-first {
    margin-bottom: rem(76);
    padding: rem(35) rem(30) rem(50);

    background-image: linear-gradient(rgba(0, 0, 0, 0.364), rgba(0, 0, 0, 0.364)),
    url("../img/in-end.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center top;
    border-radius: rem(5);
    box-shadow: 0 0.5rem 1.7625rem 0 grey;

    @media (-webkit-min-device-pixel-ratio: 2),
    (-o-min-device-pixel-ratio: 2/1),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
      background-image: linear-gradient(rgba(0, 0, 0, 0.364), rgba(0, 0, 0, 0.364)),
      url("../img/in-end.jpg");
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center top;
      border-radius: rem(5);
    }
  }
  // картинка часы
  &__svg {
    display: block;
    height: rem(120);
    width: rem(120);
    margin: 0 auto rem(45);
  }

  // цвет для главного тайтла
  &__white {
    color: $white;
    margin-bottom: rem(57);
  }
  //задаю толщину и цвет для саб тайтла 33
  &__title-white {
    color: $white;
    text-transform: inherit;
    font-size: 0.875rem;

  }

  &__normal {
    //font-weight: 400;
    font-family: $proximaReg;
  }

  // контейнер справа с кнопкой
  &__title-second {
    margin-bottom: rem(45);
  }
  // перебиваем стили элементом для  общего саба
  &__sub-title {
    text-transform: inherit;
    margin-bottom: rem(50);
    font-size: rem(15);
  }

  &__btn {
    width: 95%;
    font-size: rem(11);

    &:hover {
      color: #FF4C01;
    }
  }
}

@media (min-width: 480px) {
  .in-end {
    &__btn {
      font-size: 0.925rem;
    }
  }

}

@media (min-width: 768px) {
  .in-end {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: rem(76);
    padding: rem(90) 0 0;

    &__article-first {
      margin-bottom: 0;
      padding: rem(35) rem(30) rem(50);
      flex-basis: 47%;
    }
    &__title-white {
      font-size: rem(16);
    }

    &__article-second {
      //padding: rem(50) 0;
      flex-basis: 47%;
    }
    &__btn {
      width: 80%;
      font-size: 0.7rem;
    }
  }
}

@media (min-width: 960px) {
  .in-end {
    &__article-second {
      flex-basis: 43%;

    }
    &__btn {
      width: 77%;
      font-size: 0.7rem;
    }
  }

}

@media (min-width: 1200px) {
  .in-end {
    margin-bottom: rem(191);

    &__article-first {
      padding: rem(105) 5rem rem(152);
      flex-basis: 53%;
    }
    &__btn {
      width: 86%;
      font-size: rem(18);
    }
  }

  .in-end__sub-title {
    font-size: rem(24);
    font-family: $proximaThin;
  }

  .in-end__title-white {
    font-size: rem(24);
    font-family: $proximaThin;
  }
}

// секция номмер 2

.be-usefull {
  text-align: center;
  margin-bottom: rem(45);

  &__article {
    margin-bottom: rem(30);

    &:last-child {
      margin-bottom: 0;
    }
  }
  &__title {
    margin-bottom: rem(30);
  }

  &__img-svg {
    display: block;
    height: rem(145);
    width: rem(145);
    margin-bottom: rem(47);

  }
}

@media (min-width: 768px) {
  .be-usefull {
    margin-bottom: rem(90);
    &__box {
      display: flex;
      justify-content: space-between;
    }
    &__article {
      margin-bottom: 0;
    }

    &__article {
      flex-basis: 31%;
    }
    &__title {
      margin-bottom: rem(76);
    }
  }
}

@media (min-width: 1200px) {

  .be-usefull {
    margin-bottom: rem(150);
    &__title {
      max-width: rem(886);
      margin: 0 auto rem(132);
    }
  }
}
