.face--picture {
  border-radius: 24px;
}

.coach__face {
  display: none;
}

.coach__face {
  display: none;
  background-image: url(../img/IMG_1447.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .wrapp--img {
    background-image: url(../img/IMG_1447@2x.jpg);
  }
}
@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .wrapp--img {
    background-image: url(../img/Прямокутник-5копія-2@2x.jpg);
  }
}

.coach__quote {
  background-image: url(../img/bgi-7.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding: rem(50) rem(40) rem(50);
  background-attachment: fixed;

}

.quote__text {
  margin: 0 0 rem(32);
}

.quote__text:last-child {
  margin: 0;
}

.text-up {
  font-family: $affect;
  font-size: rem(18);
  font-weight: 700;
  text-transform: uppercase;
  display: block;
}

.invite {
  padding: rem(45) 0;

  &__header {
    margin: 0 0 rem(30);
  }

  &__body {
    margin: 0 0 rem(30);
  }
}

.body__charter {
  margin: 0 0 rem(30);
}

.charter__sub-title {
  margin: 0 0 rem(10);
  font-size: rem(15);
}

.body__charter:nth-last-child(-n+1) {
  margin: 0;
}

.icon {
  width: rem(120);
  height: rem(120);
}

.charter__icon {
  margin: 0 auto rem(15);
}

.title__center {
  text-align: center;
  line-height: 1.3;
}

.charter--center {
  text-align: center;
}

.invite__btn {
  width: 90%;

  &:hover {
    color: $orange;
    outline: none;
  }
}

@media (min-width: 768px) {
  .invite__body {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
  }

  .body__charter {
    flex-basis: 45%;

    &:nth-last-child(-n+2) {
      margin: 0;
    }
  }

  .quote__text {
    margin: 0 0 1.75rem;
  }

  .coach {
    display: flex;
  }

  .coach__face {
    display: block;
    position: relative;
    top: rem(32);
    flex-basis: 60%;
    border-radius: 0 .625rem .625rem 0;

  }

  .coach__quote {
    flex-basis: 54%;
    margin-left: rem(-40);
    z-index: 1;
    padding: rem(50) 5.375rem rem(95) rem(40);
    border-radius: rem(10) 0 0 rem(10);
  }

  .invite {
    padding: rem(90) 0;

    &__btn {
      width: 50%;
    }
  }
}

@media (min-width: 1200px) {
  .section__coach {
    //min-height: rem(760);
  }

  .coach__quote {

    padding: rem(150) rem(64) rem(100) rem(72);
  }

  .quote__text {
    font-size: rem(24);
    margin: 0 0 rem(20);
  }

  .text-up {
    font-size: rem(35);
  }

  .invite {
    padding: rem(150) 0 rem(50);
  }

  .invite__body {
    flex-wrap: nowrap;
    margin: 0 0 rem(66);
  }

  .body__charter {
    flex-basis: 25%;
    margin: 0;

    //&:nth-last-child(-n+4) {
    //  margin: 0;
    //}
  }
  .body__charter:nth-child(3) {
    padding: 0 rem(5);
  }


  .charter__icon {
    margin: 0 auto 1.9375rem;
  }

  .charter__sub-title {
    font-size: rem(24);
    margin: 0 0 2.187rem;
  }

  .invite__btn {
    width: 28%;
  }

  .body__charter:nth-last-child(2) .charter__sub-title {
    margin-bottom: rem(19);
    //position: relative;
    //top: rem(-16);
  }

  .body__charter:nth-last-child(2) .charter__icon {
    margin: 0 auto 1rem;
  }


}
