.container{
  min-width: rem(320);
  max-width: rem(1120);
  padding: 0 rem(24);
}

.section__coach {
  margin: 0 0 rem(65);
}

.face--picture{
  border-radius: 24px;
}

.coach__face{
  display: none;
}

.coach__face{
  background-image: url(../img/IMG_1447.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: rem(802);
}

.coach__quote{
  background-image: url(../img/Прямокутник-5копія-2.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding: rem(50) rem(40) rem(50);
  border-radius: rem(10) 0 0 rem(10);
}

.quote__text{
  margin: 0 0 rem(32);
}

.quote__text:last-child{
  margin: 0;
}

.text-up{
  font-family: $affect;
  font-size: rem(24);
  font-weight: 700;
  text-transform: uppercase;
}

.invite {
  &__header {
    margin: 0 0 rem(50);
  }

  &__body{
    margin: 0 0 rem(50);
  }
}

.body__charter{
  margin: 0 0 rem(80);
}

.charter__sub-title{
  margin: 0 0 rem(10);
}

.body__charter:last-child{
  margin: 0;
}

.icon {
  width: rem(120);
  height: rem(120);
}

.charter__icon{
  margin: 0 auto rem(15);
}

.title__center{
  text-align: center;
  line-height: 1.3;
}

.charter--center{
  text-align: center;
}

.invite__btn{
  width: 90%;
}

@media (min-width: 768px) {
  .invite__body{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
  }

  .quote{
    padding: rem(50) rem(150) rem(50) rem(40);
  }

  .body__charter{
    flex-basis: 45%;

    &:nth-last-child(-n+2){
      margin: 0;
    }
  }

  .quote__text{
    font-size: rem(12);
    margin: 0 0 rem(36.4);
  }

  .section__coach{
    display: flex;
    min-height: rem(760);
    margin: 0 0 rem(33);
  }

  .coach__face{
    display: block;
    position: absolute;
    width: 50%;
    min-height: 60%;
    border-radius: 0 .625rem  .625rem 0;
  }

  .coach__quote{
    position: absolute;
    width: 54%;
    top: rem(-24);
    right: 0;

  }
}

@media (min-width: 1200px) {
  .section__coach {
    min-height: rem(760);
  }

  .quote{
    padding: rem(114) rem(224) rem(50) rem(72);
  }

  .coach__quote{
    top: rem(-90);
  }

  .quote__text {
    font-size: rem(18);
    margin: 0 0 rem(24);
  }

  .invite__body {
    flex-wrap: nowrap;
    margin: 0 0 rem(66);
  }

  .body__charter {
    flex-basis: 23%;

    &:nth-last-child(-n+4) {
      margin: 0;
    }
  }

  .charter__icon {
    margin: 0 auto 1.9375rem;
  }

  .charter__sub-title {
    margin: 0 0 1.625rem;
  }

  .invite__btn {
    width: 28%;
  }
}
