.wrapper--bg-img {
  background-image: url("../img/wrapper-img-bg.jpg");
  @include bg-img;
}

.plot {
  position: relative;
  padding: rem(45) 0;
  &__container {
    &--top {
      margin: 0 auto rem(50);
    }

    &--bottom {
      display: flex;
      flex-direction: column-reverse;
    }
  }

  &__title {
    color: $white;
    text-align: center;
    margin: 0 auto rem(30);
  }

  &__comments {
    font-family: $affect;
    color: $white;
    text-transform: uppercase;
    margin: 0 auto rem(18);
    font-size: rem(15);

  }

  &__span {
    &--small {
      margin-right: rem(5);
    }
  }

  &__text {
    color: $white;
    margin: 0 auto rem(50);
    font-weight: 400;

    &--up {
      margin: 0 auto rem(40);
    }

    &--bottom {
      margin: 0 auto rem(40);
    }
  }

  &__sub-title {
    font-family: $affect;
    color: $white;
    text-transform: uppercase;
    font-size: rem(14);

    &--top {
      margin: 0 auto rem(34);
    }

    &--bottom {
      margin: 0 auto rem(27);
    }
  }

  &__list {
    margin: 0 auto rem(34);
  }

  &__li {
    position: relative;
    margin: 0 auto rem(10);

    &:last-child {
      margin-bottom: 0;
    }
  }

  &__item {
    color: $white;
    margin: 0 auto;
    font-weight: 400;
    width: 80%;

    &:before {
      position: absolute;
      top: rem(6);
      left: rem(-6);
      display: block;
      content: "";
      width: rem(23);
      height: rem(23);
      background-image: url("../img/svg/check-2.svg");
      background-repeat: no-repeat;
    }

  }

  &__picture {
    display: block;
    margin: auto;

    &--first {
      margin: 0 auto rem(10);
    }

    &--third {
      //margin: 0 auto rem(10);
    }
  }

}

@media (min-width: 480px) {
  .plot {
    &__span {
      &--small {
        margin-right: rem(15);
      }
    }
  }
}

@media (min-width: 768px) {
  .plot {
    padding: 3rem 0;

    &__container {
      &--top {
        display: flex;
        justify-content: space-between;
      }

      &--bottom {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
      }
    }

    &__block {
      &--motivation {
        flex-basis: 56%;
      }

      &--practice {
        flex-basis: 57%;
      }

    }

    &__image-block {
      flex-basis: 42%;
      align-self: center;
      padding: rem(40) 0 0;

      &--second {
        flex-basis: 40%;
        margin: 0;
        align-self: center;
      }
    }

    &__list {
      margin-bottom: 0;
    }
    &__picture {
      margin: 0;
      &--first {
        position: relative;
        z-index: 2;
      }

      &--second {
        position: relative;
        top: rem(-40);
        left: rem(-50);
        z-index: 1;
      }

      &--third {
        padding: rem(6);
      }
    }

    &__img {
      margin: 0;
    }

    &__text {

      &--bottom {
        margin: 0 0 rem(64);
        &:last-child {
          margin-bottom: 0;
        }
      }
    }

  }
}

@media (min-width: 960px) {
  .plot {
    padding: 5.375rem 0;
    &__item {
      width: 90%;
    }

    &__comments {
      font-size: rem(30);
    }

    &__sub-title {
      font-size: rem(18);
    }

  }

}

@media (min-width: 1200px) {
  .plot {

    &__block {
      &--motivation {
        flex-basis: 61%;
      }

      &--practice {
        flex-basis: 60%;
      }
    }

    &__image-block {
      flex-basis: 35%;
      align-self: flex-start;
      padding: 0;

      &--second {
        flex-basis: 50%;
      }
    }

    &__picture {
      margin: 0;

      &--first {
        top: 2.5rem;
      }

      &--second {
        top: rem(0);
        left: rem(-50);
      }

      &--third {
        padding: 0;
      }
    }

    &__comments {
      font-size: rem(30);
    }

    &__sub-title {
      font-size: rem(18);
    }

  }
  .plot__text, .plot__item {
    font-family: $proximaThin;
    font-size: rem(20);
    line-height: rem(28);
  }
}

