.reason {
  text-align: center;
  padding: rem(45) 0 rem(45);

  &__title {
    margin-bottom: rem(30);
  }

  &__text {
    margin-bottom: rem(30);
    font-weight: 700;
  }
}

.list {
  margin-bottom: rem(30);
  &:last-child {
    margin-bottom: 0;
  }

  &__img {
    width: rem(120);
    height: rem(120);
    margin: 0 auto rem(30);
  }
}

.sub-title--big {
  font-size: rem(15);
}

@media (min-width: 768px) {
  .reason {
    padding: rem(90) 0;
  }
  .sub-title--big {
    font-size: rem(16)
  }
  .reason-box {
    display: flex;
    justify-content: space-between;
    min-height: rem(364);

  }
  .list {
    margin-bottom: 0;
    flex-basis: 50%;
  }
}

@media (min-width: 1200px) {
  .reason {
    padding: rem(100) 0;
  }

  .sub-title--big {
    font-size: rem(30);
    margin-bottom: 50px;
  }
  .list {
    padding: 0;
    flex-basis: 27%;
    &__img {
      margin-bottom: 40px;
    }
    &:nth-child(2) {
      flex-basis:29.6%;
    }
    &:nth-child(3) {
      flex-basis: 34%;
      & > .list__img {
        margin-bottom: 35px;
      }
      & > .sub-title--big {
        margin-bottom: 25px;
      }
    }

    &__down {
      align-self: flex-end;
    }
  }
  .reason__text {
    font-size: rem(24);
    font-family: $affect;
  }
}
