.container {
  padding: 0 1.5rem;
}

.wrapper--thanks {
  background-image: linear-gradient(rgba(0, 0, 0, 0.65), rgba(0, 0, 0, 0.65)), url(../img/canoe.jpg);
  -webkit-background-size: cover;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

@media(-webkit-min-device-pixel-ratio: 2), (-o-min-device-pixel-ratio: 2/1), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .wrapper--thanks {
    background-image: linear-gradient(rgba(0, 0, 0, 0.65), rgba(0, 0, 0, 0.65)), url(../img/canoe@2x.jpg);
  }
}

.thanks {
  // align-content: space-around;
  // flex-wrap: wrap;
  // justify-content: center;
  // display: flex;
  min-height: 100vh;
  margin: auto;
  //transform: translate(50%, 50%);
  //display: flex;
  //align-content: space-around;
  padding: rem(65) 0 rem(40);
  .logo {
    flex-basis: 100%;
  }

  &__title {
    text-align: center;
    font-family: $affect;
    margin-bottom: rem(30);
  }
  &__text {
    flex-basis: 100%;
    //margin: 3rem auto;
    text-transform: uppercase;
    text-align: center;
    font-size: rem(16);
    color: $white;
    font-family: $affect;
    margin-bottom: rem(40);
  }
  &__span {
    display: block;
    font-size: rem(16);
    font-family: $affect;
  }

  &__btn {
    font-size: rem(11);
    margin: 0 auto rem(50);
    width:rem(230);
  }
}

@media (min-width: 480px) {
  .thanks {

    &__text {
      font-size: 1.1rem;
    }
    &__span {
      font-size: 1.1rem;
    }
  }
}

@media (min-width: 768px) {
  .thanks {
    padding: rem(110) 0 rem(80);
    &__btn {
      font-size: rem(15);
      width: rem(300);
      margin-bottom: rem(60);
    }
    &__title {
      font-size: rem(36);
      margin-bottom: rem(40);
    }
    &__text {
      //margin: rem(64) auto rem(85);
      font-size: rem(20);
      margin-bottom: rem(60);
    }
    &__span {
      font-size: rem(20);
    }
  }
}

@media (min-width: 960px) {
  .thanks {


    &__title {
      font-size: rem(66);
    }
    &__text {
      font-size: rem(24);
    }
    &__span {
      font-size: rem(24);
    }
  }
}

@media (min-width: 1200px) {
    .thanks {
      padding: rem(175) 0 rem(110);
      &__btn {
        font-size: rem(18);
        margin: 0 auto rem(90);
        width: rem(350);
      }
      &__title {
        font-size: rem(66);
        margin-bottom: rem(60);
      }
      &__text {
        font-size: rem(24);
        margin-bottom: rem(90);
      }
      &__span {
        font-size: rem(24);
      }
    }
}
