* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
  margin: auto;
}

.title {
  font-family: $affect;
  font-size: rem(40);
  color: $black;
  font-weight: 700;
  text-transform: uppercase;
}

@media (max-width: 768px) {
  .title {
    font-size: rem(16);
  }

  .text {
    font-size: rem(14);

  }
}

.title--white {
  font-family: $affect;
  font-size: rem(40);
  color: $white;
  font-weight: 700;
  text-transform: uppercase;
}

.orange {
  color: $orange;
}

.sub-title {
  font-family: $affect;
  font-size: rem(24);
  color: $black;
  font-weight: 700;
  text-transform: uppercase;
}

.text {
  font-family: $proxima;
  font-size: rem(18);
  color: $black;
  font-weight: 400;
}

.text--white {
  font-family: $proxima;
  font-size: rem(24);
  color: $white;
  font-weight: 400;
}

.container {
  max-width: rem(1120);
  min-width: rem(320);
  margin: auto;
  padding: 0 rem(24);
}
.scrollToTop {
  width: rem(48);
  height: rem(48);
  text-decoration: none;
  position: fixed;
  bottom: rem(50);
  right: rem(8);
  display: none;
  background: rgba(255,255,255,.75);
  border-radius: 50%;
  border: 4px solid #ef6000;
  z-index: 999;
  outline: none;
  color: #ef6000;
  font-size: rem(30);
  font-weight: 700;
  cursor: pointer;
}


