* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
  margin: auto;
}

.title {
  font-family: $affect;
  font-size: rem(40);
  color: $black;
  font-weight: 700;
  text-transform: uppercase;
}

.title--white {
  font-family: $affect;
  font-size: rem(40);
  color: $white;
  font-weight: 700;
  text-transform: uppercase;
}

.orange {
  color: $orange;
}

.sub-title {
  font-family: $affect;
  font-size: rem(24);
  color: $black;
  font-weight: 700;
  text-transform: uppercase;
}

.text {
  font-family: $proxima;
  font-size: rem(18);
  color: $black;
  font-weight: 400;
}

.text--white {
  font-family: $proxima;
  font-size: rem(24);
  color: $white;
  font-weight: 400;
}

.container {
  max-width: rem(1120);
  min-width: rem(320);
  margin: auto;
  padding: 0 rem(24);
}
