* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
  margin: auto;
}

.title {
  font-family: $affect;
  font-size: rem(16);
  color: $black;
  font-weight: 700;
  text-transform: uppercase;
}



.title--white {
  font-family: $affect;
  font-size: rem(16);
  color: $white;
  font-weight: 700;
  text-transform: uppercase;
}

.orange {
  color: $orange;
}

.sub-title {
  font-family: $affect;
  font-size: rem(24);
  color: $black;
  font-weight: 700;
  text-transform: uppercase;
}

.text {
  font-family: $proximaReg;
  font-size: rem(14);
  color: $black;
  font-weight: 400;
}

.text--white {
  font-family: $proximaThin;
  font-size: rem(24);
  color: $white;
  font-weight: 400;
}
//40 18
@media (min-width: 768px) {
  .title {
    font-size: rem(20);
    &--white {
      font-size: rem(20);
    }
  }

  .text {
    font-size: rem(14);

  }
}

@media (min-width: 960px) {
  .title {
    font-size: rem(30);
    &--white {
      font-size: rem(30);
    }
  }

  .text {
    font-size: rem(16);

  }
}

@media (min-width: 1200px) {
  .title {
    font-size: rem(40);
    &--white {
      font-size: rem(40);
    }
  }

  .text {
    font-size: rem(18);

    &--white {
      font-size: rem(24);
    }
  }
}
.container {
  max-width: rem(1120);
  min-width: rem(320);
  margin: auto;
  padding: 0 rem(24);
}
.scrollToTop {
  width: rem(48);
  height: rem(48);
  text-decoration: none;
  position: fixed;
  bottom: rem(50);
  right: rem(8);
  display: none;
  background-image: url(../img/arrow-up-.svg);
  background-color: transparent;
  border: none;
  //background: rgba(255,255,255,.75);
  border-radius: 50%;
  //border: 4px solid #ef6000;
  z-index: 999;
  outline: none;
  color: #ef6000;
  font-size: rem(30);
  font-weight: 700;
  cursor: pointer;
}


