@function rem($px) {
  $result: $px/16;
  @return #{$result}rem;
}

@function prc($element, $container) {
  $result: $element / $container * 100%;
  @return $result;
}

$affect: "Affect", sans-serif;
$proxima: "Proxima Nova", sans-serif;

