@function rem($px) {
  $result: $px/16;
  @return #{$result}rem;
}

@function prc($element, $container) {
  $result: $element / $container * 100%;
  @return $result;
}


$orange: #e75b21;
$white: #fff;
$black: #000;

$affect: "Affect", sans-serif;
$proxima: "Proxima Nova", sans-serif;

@mixin bg-img {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  background-attachment: fixed;
}
